body {
    font-family: $text-font-family;
}
.title {
    display: flex;
    justify-content: center;
}

h1,h2 {
    &.title-h1 {
        font-size: 25px;
        color: white;
        padding: 10px;
        background: $blue;
        width: 70%;
        border-radius: 30px;
    }
}
#app {
    background-image: url("https://images.unsplash.com/photo-1575250686903-c2f5edb52830?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar-brand {
    font-family: $font-family-fredoka;
    font-size: 2rem;
    transition: all 0.5s;

    &:hover {
        font-size: 2.5rem;
    }
}

.form-create {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.actions-recipe {
    a {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);

        &.btn-danger {
            background-color: red;
            i {
                color: white;
                justify-content: center;
            }
        }

        &.btn-success {
            background-color: #04b158;
            i {
                color: white;
                justify-content: center;
            }
        }
        &.btn-info {
            background-color: #008efd;
            i {
                color: white;
            }
        }
    }
}

.table {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    tbody {
        tr {
            color: black;
            background: white;
        }
        tr:nth-child(2n) {
            background: #d1d1d0;
        }
    }
}

.toastify {
    margin-top: 80px;
}

trix-editor {
    min-height: 400px;
    &.is-invalid-trix {
        border-color: red;
    }
}

.items-drop {
    left: -30px !important;

    button {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);

        &.btn-danger {
            background-color: red;
            i {
                color: white;
                display: flex;
                justify-content: center;
            }
        }

        &.btn-success {
            background-color: #04b158;
            i {
                color: white;
                display: flex;
                justify-content: center;
            }
        }
        &.btn-info {
            background-color: #008efd;
            i {
                color: white;
            }
        }
    }
}

.opacity {
    filter: alpha(opacity=60); /* IE < 9.0 */
    // background: rgba(211, 200, 200, 0.75);
    background: rgba(243, 239, 239, 0.75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 40px;

    span {
        font-size: 20px;
        &.span-content {
            font-size: 17px;
        }
    }
    .image-recipe {
        img {
            border-radius: 20px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        }
    }
}
.ingredients,
.making {

    &__content {
        border: 2px solid $blue;
        padding: 20px;
    }

}